{{#if isGameOver}}
    <div class="restart">
        <button {{action 'restartGame'}} type="button" class="btn">ŽAISTI DAR KARTĄ</button> <br>
        <h1>Spėjimų skaičius: {{counterAnswer}}</h1>
        <h1>Teisingas atsakymas: {{random}}</h1>
    </div>
{{else}} 
    {{#if isGameStarted}}
        <div class="content">
            <p class="info">1 - 10</p>
            {{input type="text" value=guess class="guessField"}} <br> <br>
            <button class="btn" {{action 'isCorrect' }}>SPĖTI</button> <br>
            <h1 class="lowerHigher"> {{lowerHigher}} </h1>
        </div>
    {{else}}
        <div class="game">
            <button {{action 'startGame'}} type="button" class="btn">ŽAISTI</button>
        </div>
    {{/if}} 
{{/if}}