h1.title{
    text-align: center;
}
.btn{
    background: #E9967A;
}
.game{
    text-align: center;
    padding-top: 50px;
}
.btn:hover{
    background: #de6f49;
}
.content{
    padding-top: 50px;
    text-align: center;
}
.guessField{
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
    width: 50px;
    border-radius: 5px;
}
p.info{
    font-size: 30px;
}
.restart{
    padding-top: 50px;
    text-align: center;
}
h1.lowerHigher{
    padding-top: 15px;
    font-size: 20px;
}